.containerContacto{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-top, .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.contact-info a img {
  width: 30px; /* Ajusta el tamaño de las imágenes según tu preferencia */
  margin-right: 10px; /* Agrega espacio a la derecha de cada imagen */
}

.header-bottom nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-bottom nav ul li {
  margin: 0;
}

.search {
  display: flex;
  gap: 10px;
}

.contact-main {
  display: flex;
  padding: 20px;
}

.map-container {
  flex: 1;
}

.map-image {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.contact-info {
  flex: 1;
  padding: 20px;
}

.contact-info h2 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
.logo {
  height: 90px;
  width: auto;
}
.CestaCarrito{
  height: 60px;
  width: auto;
}
