.containerPlatos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Estilos para el header */

.header-top, .header-bottom {
  background-color: #f8f8f8;
  padding: 10px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info{
  margin-top: 10px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Resto del header */

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

.search {
  display: flex;
}

.search input {
  padding: 5px;
}

.search button {
  padding: 5px;
}

/* Resto del CSS */

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px; /* Margen superior para separarlo del contenido anterior */
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto */
  width: 200px; /* Ancho de cada elemento */
}

.image {
  width: 100%; /* Ancho máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

.info {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  width: 100%; /* Ancho máximo para ajustarse al contenedor */
}

.footer-content {
  text-align: center; /* Centra el contenido del footer */
  background-color: #f8f8f8;
  padding: 20px;
}
